# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
declarations/

# npm/pnpm/yarn pack output
*.tgz

# dependencies
node_modules/

# misc
/.env*
/.pnpm-debug.log
.eslintcache
/npm-debug.log*
/yarn-error.log
