# .github/workflows/push-dist.yml

name: Push dist

on:
  push:
    branches:
      - main
      - master

jobs:
  push-dist:
    name: Push dist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Node
        uses: volta-cli/action@v4

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - uses: kategengler/put-built-npm-package-contents-on-branch@v1.0.0
        with:
          branch: ${{ github.head_ref || github.ref_name }}-dist
          working-directory: packages/ember-async-data
          token: ${{ secrets.GITHUB_TOKEN }}
